#latest {
	text-align: center;
	-border-top: 2px solid orange;
	margin: 16px auto 0 auto;
	max-width: 900px;
}

#loader {
	width: 0;
	max-width: 900px;
	border-top: 2px solid orange;
	margin: 0 auto 0 auto;
	transition: width 0.3s;
}

.container {
	display: inline-block;
	margin: 0 7px;
	position: relative; /* so center-area can be positioned absolute */
}
.center-area {
	/* let it fill the whole container */
	position: absolute;
	text-align: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.center-area:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.centered {
	display: inline-block;
	vertical-align: middle;
}