body {
	font-family: sans-serif;
	background-color: #f9f9f9;
}

form {
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
	border: 0 solid #4d4d54;
	border-width: 0 1px;
	padding: 0 16px;
}

input, select {
	font-size: 16px;
	margin-left: 10px;
}

form div {
	margin-top: 16px;
	text-align: left;
	font-size: 16px;
}

form div:first-child {
	margin-top: 0;
}

/* Submit */
form div:last-child {
	margin-top: 24px;
	text-align: center;
}

input[type="submit"] {
	font-size: 24px;
	padding: 6px 20px;
	margin-left: 0;
	-webkit-appearance: none;
}

#imageup {
	width: 110px;
	border: 8px solid #595980;
	height: 110px;
	margin: 0 auto 0 auto;
	color: #595980;
	font-size: 40px;
	position: relative;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	border-radius: 6px;
}

#latest {
	text-align: center;
	-border-top: 2px solid orange;
	margin: 16px auto 0 auto;
	max-width: 900px;
}

#loader {
	width: 0;
	max-width: 900px;
	border-top: 2px solid orange;
	margin: 0 auto 0 auto;
	transition: width 0.3s;
}

.container {
	display: inline-block;
	margin: 0 7px;
	position: relative; /* so center-area can be positioned absolute */
}
.center-area {
	/* let it fill the whole container */
	position: absolute;
	text-align: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.center-area:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.centered {
	display: inline-block;
	vertical-align: middle;
}