body {
	font-family: sans-serif;
	background-color: #f2f2f2;
	margin: 0;
}

header {
	background-color: #baa057;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #cfb161;
	margin-bottom: 12px;
}

header > section {
	padding: 4px 9px;
	font-variant: small-caps;
}

header a {
	color: #332c18;
	text-decoration: none;
}
header a:hover {
	text-decoration: underline;
}

#head-idx {
	font-weight: bold;
}
#head-idx img {
	margin: 0 5px -3px 0;
	width: 16px;
	height: 16px;
}


#upload-form {
	text-align: center;
	max-width: 600px;
	margin: 0 auto;
	border: 0 solid #4d4d54;
	border-width: 0 1px;
	padding: 0 16px;
}
@media screen and (max-width: 610px) {
	#upload-form {
		border-width: 0;
	}
}

.hidden {
	display: none;
}

.drag {
	background-color: #e4e4f5;
}
.drag * {
	pointer-events: none;
}

#upload-form input, #upload-form select {
	font-size: 16px;
	margin-left: 10px;
}

#upload-form div {
	margin: 8px 0;
	text-align: left;
	font-size: 16px;
}

#upload-form div:first-child {
	margin-top: 0;
}

/* Submit */
#upload-form div:last-child {
	margin-top: 24px;
	text-align: center;
}

#upload-form input[type="submit"] {
	font-size: 24px;
	padding: 6px 20px;
	margin-left: 0;
	-webkit-appearance: none;
	border: 2px solid #d9822b;

	background: #ffa500
		no-repeat
		0% 100%
		linear-gradient(165deg, #ffa500 0%, #f58718 100%);
	transition: background 0.3s, box-shadow 0.2s;
}

#upload-form input[type="submit"]:hover {
	box-shadow: 0px 0px 10px #d9822b;
}

.imagerow {
	display: flex;
	height: 35px;
	transition: background 0.3s;
}

.imagerow:hover {
	background-color: #e4e4f5;
}

.imagerow label {
	flex-grow: 1;
	line-height: 35px;
	cursor: pointer;
}

.imagerow:hover .add-widget {
	background-color: #3f3f66;
}

.add-widget, .remove-widget {
	flex-grow: 0 !important;
	line-height: 35px;
	cursor: pointer;
	color: white;
	font-size: 35px;
	text-align: center;

	width: calc(50px);
	height: calc(35px);
	background-color: #595980;
	transition: background 0.3s
}

.remove-widget {
	background-color: #bf4021;
	display: none;
}

.add-preview {
	width: 50px;
	height: 50px;
	max-height: 35px;
	max-width: 50px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	margin-right: 4px;
}

#error-messages {
	background: #f25129 linear-gradient(178deg, #ff9999 0%, #fd6b6b 100%);
	padding: 2px 16px;
	border: 0 solid #4d4d54;
	border-width: 1px 0;
	margin: 0 -16px !important;
}

#error-messages:empty {
   display: none;
}

#image-page {
	text-align: center;
	margin: 12px auto 0 auto;
	display: flex;
}

#image-page > div {
	margin: 0 auto 0 auto;
	line-height: 0;
	border: 1px solid #656570;
	box-shadow: 3px 3px 10px #656570aa;
}

#image-page img {
	max-width: 100vw;
}

.image-details {
	line-height: normal;
	background-color: #cacae0;
	border-top: 1px solid #656570;
}

.image-details {
	display: flex;
	justify-content: space-between;
}

.image-details > div {
	padding: 8px;
}

#action-switch {
	background-color: #595980;
	text-align: center;
}

#action-switch a {
	color: #000;
	text-decoration: none;
}

#action-switch a:hover {
	text-decoration: underline;
}

#actions {
	background-color: #595980;
}
#actions form {
	display: flex;
	align-items: stretch;
}

#actions input[type="text"] {
	font-size: 16px;
	height: 26px;
	font-family: monospace;
}

#actions input[type="submit"] {
	font-size: 16px;
	
	-webkit-appearance: none;
	border: 0;
	background-color: #303045;
	color: #fafafa;
	padding: 0 9px;
}

#secret-info {
	text-align: center;
	margin: 16px auto 0 auto;
	max-width: 560px;
	background-color: #ffff99;
	display: none;
	padding: 7px;
}

#secret-info b {
	font-family: monospace;
}

#secret-info div {
	text-align: left;
	margin-bottom: 6px
}

#thumbnails {
	text-align: center;
	margin: 16px auto 0 auto;
	max-width: 900px;
}

#loader {
	width: 0;
	max-width: 900px;
	border-top: 2px solid #ffa500;
	margin: 0 auto 12px auto;
	transition: width 0.3s;
}

.container {
	display: inline-block;
	margin: 0 7px;
	position: relative; /* so center-area can be positioned absolute */
}
.center-area {
	/* let it fill the whole container */
	position: absolute;
	text-align: center;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.center-area:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.centered {
	display: inline-block;
	vertical-align: middle;
}