<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Some image it is</title>
	{% for size in [16, 32, 64, 96, 144] %}
	<link rel="icon" type="image/png" sizes="{{ size }}x{{ size }}" href="{{ url_for("static", filename="favicon{}.png".format(size)) }}">
	{%- endfor %}
	<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="main.css") }}">
</head>
<body id="image-page">
	<div>
		<a href="{{ url_for('image_full', uid=image.uid) }}"><img src="{{ url_for('image_preview', uid=image.uid) }}" width="{{ image.preview_width }}" height="{{ image.preview_height }}"></a>
		<div class="image-details">
		{% if image.author %}
		{{ image.author }}
		{% else %}
		<i>Anonymous</i>
		{% endif %}
		 —
		<time datetime="{{ image.date_created }}">{{ image.date_created | time_since }}</time>
		</div>
	</div>
	<script type="text/javascript">
		document.querySelector('img').addEventListener('load', function() {
			this.removeAttribute('width');
			this.removeAttribute('height');
		});
	</script>
</body>
</html>