<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head>
	<title>Index</title>
</head>
<body>
	<style type="text/css">
		div {margin-bottom: 9px;}
	</style>
	<form action="{{ url_for('index') }}" method="POST" enctype="multipart/form-data">
		<input type="hidden" name="from_web" value="1">
		<div>
			<label for="image-up">Image file</label>
			<input id="image-up" type="file" name="i">	
		</div>
		<div>
			<label for="author">Author</label>
			<input type="text" id="author" name="author" value="" placeholder="Anonymous">
		</div>
		<div>
			<label for="private">Private (won't be listed)</label>
			<input type="checkbox" id="private" name="private" value="1">
		</div>
		<div>
			<input type="submit" value="Upload">
		</div>
	</form>
</body>
</html>